/* Feed.css */
.App {
  font-family: Arial, sans-serif;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.Header img {
  height: 40px;
}

.Posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.Post {
  margin: 20px;
  padding: 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  width: 300px;
}

.Post img {
  width: 100%;
}

.Interactions {
  display: flex;
  align-items: center;
  padding: 10px;
}

.LikeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #262626;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.Likes {
  color: #262626;
  font-size: 14px;
  margin-left: 5px;
}

.CommentButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #262626;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.Caption {
  padding: 10px;
  font-size: 14px;
}

.Comments {
  padding: 0 10px;
  font-size: 14px;
  color: #262626;
}

.Comment {
  margin-top: 5px;
  font-size: 14px;
}


.PostHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.Username {
  font-weight: bold;
}

.Logo {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.Logo img {
  width: 100%;
  height: auto; 
}

.comment-popup {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  position: absolute;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 100;
}

.comment-textarea {
  width: 100%;
  padding: 10px;
  height: 60px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none; 
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.comment-button {
  background-color: #6a5acd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comment-button:hover {
  background-color: #7b68ee;
}

.comment-button-close {
  background-color: #ff6347;
}

.comment-button-close:hover {
  background-color: #ff7f50;
}
